<html>
	<head>
		<title>Hello</title>
	</head>
	<body>
		<p>Hello <%= name %></p>
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Signup</a></li>
			<li><a href="/gameslist">List of Games</a></li>
			<li><a href="/creategame">Create Game</a></li>
			<li><a href="/gamelobby">Game Lobby</a></li>
			<li><a href="/game">Running Game</a></li>
			<li><a href="/gameresult">Game Result</a></li>
		<ul>
		<script src="/js/main.js"></script>
	</body>
</html>